# Data Science Tools and Ecosystem

Now in this notebook,data science and the usage of its tools are summarized.

Some of the key takeaways from the course.

**Objective:**
* python
* Java
* java script 
* Sql
* Numpy

Some of the popular languages that are used by the data scientist are given below:
1.Python
2.scala
3.java script
4.Sql etc...

Some of the commonly used libraries used by the data scientists include:
1.pandas
2.numpy
3.scikit-learn
4.XGBoost etc....

|Data Science Tools|
|------------------|
|Rstudio           |
|TensorFlow        |
|Apache Hadoop     |

### Below are a few examples of evaluating arithmetic expressions in python.

In [1]:
#This is a simple arithmetic expression to multiply then add integers.
(4*5)+10

30

In [6]:
#This will convert 200 minutes to hours by divided by 60
200/60

3.3333333333333335

## Author
Naveen N